<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}Virtual Fridge{% endblock %}</title>
      <link rel="stylesheet" type="text/css" href="../static/css/style.css">
   </head>
   <body>
      <div class="center-container">
         <h2>Virtual Fridge</h2>
         <a href="{{ url_for('fridge') }}">My Fridge</a>
         <a href="{{ url_for('add_food') }}">Add a Food</a>
         <a href="{{ url_for('logout') }}">Logout</a>
      </div>

      <main>
         {% block content %}{% endblock %}
      </main>
   </body>
</html>
