<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}Virtual Fridge{% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   </head>
   <body>
      <div id="nav-bar">
         <div id="left-menu">
            <h2>Virtual Fridge</h2>
         </div>

         <div id="right-menu">
            <a href="{{ url_for('fridge') }}">My Fridge</a>
            <a href="{{ url_for('add_food') }}">Add a Food</a>
            <a href="{{ url_for('logout') }}">logout</a>
         </div>
      </div>

      <main>
         {% block content %}{% endblock %}
      </main>
   </body>
</html>